@charset "utf-8";

/**************************** Web Font Load ****************************/
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

/**************************** Common ****************************/
body {
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	font-size: 1em;
	line-height: 1.25;
	color: #555;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
}

button, input[type=submit], input[type=reset], input[type=button] {
	overflow: visible;
	cursor: pointer;
}

input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
	-webkit-appearance: none;
}

input, select, textarea, button {
	font-family: 'AppleSDGothicNeo', sans-serif;
	font-size: 100%;
	border-radius: 0;
}

button {
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

ul li {
	list-style: none;
}



img, fieldset {
	border: none;
	vertical-align: top;
}

hr {
	display: none;
}

a, a:link {
	text-decoration:none; 
	color:#555;
}

a:visited {
	text-decoration:none;
}

a:hover, a:focus {
	text-decoration:underline; 
	color: #222;
}

a:active {
	text-decoration:none;
}


/**************************** Header ****************************/

#header {
	border-bottom: 1px solid #eee;
}

#header .inner {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}

#header h1 {
	padding: 24px 16px 24px 16px;
}

#header .util {
	position: absolute;
	top: 24px;
	right: 0;
}

#header .util .github {
	position: relative;
	float: left;
	
}

#header .util .profile {
	position: relative;
	float: right;
	margin-right: 14px;
}

#header .util .profile .profile_img {
	width: 32px;
	height: 32px;
	background-color: transparent;
}

#header .github {
	margin-right: 14px;
}

#header .util .profile nav {
	float: right;
	margin: 32px 0 0 -171px;
	padding: 10px 0 0 64px;
}


#header .util .profile ul {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

#header .util .profile ul li a {
	padding: 0 20px;
	display: block;
	border: 1px solid #eee;
	background-color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 0.9em;
	line-height: 2rem;
	color: #555;
}


/**************************** Container ****************************/

#container {
	position: relative;
}
#container .content_wrap {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px;
}
#container .content_wrap:before {
	content: "";
	position: absolute;
	top: 0;
	left: 21%;
	z-index: 10;
	width: 1px;
	height: 100%;
	margin-right: 255px;
	background-color: #eee;
}
#container .content_wrap:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}



/**************************** 본문 ****************************/

.content_container {
	float: right;
	width: 76.518519%; 
	padding:24px 0 26px;
	border-bottom:1px 
	solid #efefef 
}

.content_title {
	margin:0 0 30px;
	padding-bottom:15px;
	border-bottom:1px solid #eeeeee
	}

.content_title .content_category a {
	font-weight:700;
	font-size:16px;
	color:#F6C4C3
	}

.content_title .tit_post{
	padding:5px 0 10px;
	font-weight:normal;
	font-size:34px;
	line-height:43px;
	color:#222
	}

.content_title .info_post .area_title .info_post a {
	font-size:13px;
	color:#eeeeee
	}

.content_title .info_post .txt_bar { 
	margin: 0 9px 0 5px 
	}


/* 댓글 */
.content_reply {
	margin-top: 51px
}

.content_reply .fld_reply {
	padding: 20px;
	border-top: 1px solid #eeeeee;
	background-color: #fff;
	position: relative
}
.content_reply .writer_info {
	overflow: hidden;
	margin-bottom: 5px
}

.content_reply .writer_info .info_name {
	float: left;
	position: relative;
	margin-right: 5px
}
.content_reply .writer_info .info_pw {
	float: left;
	position: relative
}
.content_reply .writer_info .wrap_info { 
	display: block
}

.content_reply .writer_info .inp_info {
	width:171px;
	height:36px;
	padding:0 13px;
	border:1px solid #eeeeee;
	background:#fff;
	font-size:13px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
} 

.content_reply .reply_write { 
	position:relative;
	padding:7px 12px;
	border:1px solid #eeeeee;
	background-color:#fff
}

.content_reply .tf_reply {
	width:100%;
	height:70px;
	border:1px solid #fff;
	font-size:13px;
	resize:none;
	box-sizing:border-box
}

.content_reply .writer_btn {
	float:right;
	margin-top:10px
}
.content_reply .writer_btn .btn_enter { 
	float:left;
	width:71px;
	height:36px;
	border-radius:18px;
	font-size:13px;
	line-height:38px;
	background-color:#F6C4C3;
	color:#fff
}

/*     Footer       */

#footer {
	padding: 23px 12px 23px 12px;
	border-top: 1px solid #eee;
}

#footer p {
	margin-bottom: 10px;
	font-size: 0.875em;
	color: #555;
}

#footer .inner {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}

#footer .inner a {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0.8125em;
	vertical-align: middle;
	color: #555;
}
#footer .inner a:hover,
#footer .inner a:focus {
	color: #555;
}
#footer .inner a:before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 0 20px 2px 15px;
	background-color: #eeeeee;
	vertical-align: middle;
}
#footer .inner a:first-child::before {
	content: none;
}

#footer .page-top {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #eee;
	border-radius: 50%;
	background: #fff url(./images/ico_package.png) no-repeat -100px -200px;
	text-indent: -999em;
}
#footer .page-top:focus,
#footer .page-top:hover {
	background-color: #757575;
	background-position-x: -150px;
}



/*     사이드바       */

#aside {
	width: 18.296296%;
	padding: 75px 0 32px;
	box-sizing: border-box;
}

#aside .close, #aside .profile {
	display: none;
}

.sidebar h2 {
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 0.875em;
	color: #555;
}
.sidebar ul li {
	padding: 4px 0 5px;
	font-size: 0.8125em;
	line-height: 1.25rem;
	color: #777;
}

.sidebar ul li a {
	color: #777;
}
.sidebar ul li a:hover {
	color: #222;
}

.sidebar .sidebar-2 {
	margin-top: 38px;
	padding-top: 46px;
	border-top: 1px solid #eee;
}

.sidebar .category {
	margin-bottom: 36px;
}

.sidebar .category ul li {
	padding: 0;
	font-size: 0.875em;
	font-weight: 600;
}

.sidebar .category ul li a {
	color: #555;
}

.sidebar .category ul li a:hover {
	color: #222;
}

.sidebar .category ul li ul {
	padding-top: 8px;
}

.sidebar .category ul li ul li {
	padding: 6px 0 7px;
	font-weight: 400;
	font-size: 1em;
}

.sidebar .category ul li ul li ul {
	overflow: hidden;
	margin-bottom: -4px;
	padding-top: 6px;
}

.sidebar .category ul li ul li ul li {
	position: relative;
	padding: 3px 0 3px 9px;
	/* border-left: 2px solid #eee; */
	font-size: 0.8125rem;
}

.sidebar .category ul li ul li ul li:before {
	content: "";
	position: absolute;
	bottom: 7px;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: #eee;
}

.sidebar .category ul li ul li ul li:first-child:before {
	top: 7px;
	bottom: auto;
}

.sidebar .category ul li ul li ul li a {
	color: #999;
}

.sidebar .notice {
	margin-bottom: 37px;
}


/* Media Screen */
@media screen and (max-width:1920px) {
	#header h1 #footer {
		padding: 23px 12px 23px 12px;
	}

	#header .util {
		right: 12px;
	}

	#header .github {
		margin-right: 14px;
	}

	#header .util .profile nav {
		float: right;
		margin: 32px 0 0 -171px;
		padding: 10px 0 0 64px;
	}

	#container .content_wrap:before {
		left: 21%;
		margin-left: 0;
	}
	.layout-aside-left #container .content_wrap:before {
		left: 21%;
		margin-left: 0;
	}
}


@media screen and (max-width:767px) {

	#header h1 {
		position: relative;
		z-index: 10;
		padding: 23px 12px 23px 12px;
		background-color: #fff;
	}

	#header .util {
		top: 0;
		right: 0;
		width: 100%;
		padding: 24px 12px 24px 12px;
		box-sizing: border-box;
	}

	#header .util .profile {
		display: none;
	}
	
	#container .content_wrap {
		padding: 0;
	}
	#container .content_wrap:before {
		content: none;
	}

	.content_container {
		float: none;
		width: auto;
		padding: 12px 24px 12px 26px;
	}

	#aside {
		position: fixed;
		top: 0;
		right: -278px;
		z-index: 400;
		float: none;
		overflow: auto;
		width: 278px;
		height: 100%;
		padding: 94px 12px 40px 12px;
		background-color: #fff;
		box-sizing: border-box;
		transition: left .5s;
		-webkit-transition: right .5s;
	}

	#aside .close {
		position: absolute;
		top: 24px;
		right: 24px;
		z-index: 300;
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 1px solid #eee;
		border-radius: 50%;
		text-indent: -999em;
		outline: none;
	}
	#aside .close span {
		display: none;
	}

	#aside .close:before,
	#aside .close:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 1px;
		margin: 0 0 0 -8px;
		background-color: #eeeeee;
	}

	#aside .close:before {
		transform: rotate(-45deg);
	}

	#aside .close:after {
		transform: rotate(45deg);
	}

	#aside .profile {
		display: block;
		position: relative;
		margin-bottom: -40px;
	}

	#aside .profile:before {
		content: "";
		position: absolute;
		top: 0;
		left: -24px;
		z-index: 0;
		width: 100%;
		height: 100%;
		padding: 0 24px;
		background-color: #eeeeee;
	}

	#aside .profile ul {
		position: relative;
		z-index: 10;
		text-align: center;
	}

	#aside .profile ul li {
		display: inline-block;
		padding: 16px 0 18px;
		font-size: 0.875em;
		color: #555;
		vertical-align: middle;
	}

	#aside .profile ul li a {
		display: inline-block;
		vertical-align: middle;
	}

	#aside .profile ul li:before {
		content: "";
		display: inline-block;
		width: 1px;
		height: 7px;
		margin: 0 20px 0 16px;
		background: url(#) -100px -50px;
		background-size: 200px auto;
		vertical-align: middle;
	}

	#aside .profile ul li:first-child:before {
		content: none;
	}

	#footer {
		padding: 23px 12px 23px 12px;
	}

	#footer p {
		margin-bottom: 11px;
		font-size: 0.8125em;
	}

	#footer .inner {

		margin: 0 20px 2px 15px;
	}
	#footer .inner a {
		display: block;
		margin-bottom: 10px;
		line-height: 1.75rem;
	}
	#footer .inner a:before {
		content: none;
	}

}

